.emailSection {
  color: #5f6368;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  cursor: pointer;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  width: 11.5625rem;
  min-width: 7.6875rem;
  max-width: 11.5625rem;
}
.emailSection:hover {
  background-color: #f2f2f2;
}
.emailSection > .MuiSvgIcon-root {
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 1rem 0 0;
}
.emailSection--selected {
  color: #0b57d0;
  /* border-bottom: 3px solid #0b57d0; */
}
.emailSection--selected > .border-blue::before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #0b57d0;
  bottom: 0;
  left: 0;
  top: 10;
  margin-left: 10px;
  width: 18%;
  display: block;
}
