.sendMail {
  position: absolute;
  bottom: 0;
  right: 3.5rem;
  height: 70%;
  width: 42%;
  max-width: 32rem;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.sendMail__header {
  border: 1px solid whitesmoke;
  background-color: #f2f6fc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #041e49;
  padding: 0.2rem 0 0.2rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.sendMail__close {
  height: 1rem !important;
  width: 1rem !important;
  color: #000;
}
.sendMail > form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sendMail > form > input {
  border: none;
  height: 2.25rem;
  padding: 0.2rem 1rem;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}
.sendMail__options > .MuiButton-root {
  background-color: #0b57d0;
  border-radius: 1.125rem;
  color: #fff;
  text-transform: capitalize !important;
  font-weight: 700;
  padding: 0.4rem 1.3rem;
}
.sendMail__options {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sendMail__message {
  flex: 1;
}
